<div style="display: block;margin-top: 10px;">
 
  <md-card>
    <md-card-title>User Details</md-card-title>
    <md-card-content>
    <div class=" table-responsive">
							<table class="table table-responsive custome-table" id="myTable">
								<tr class="myHead">
									<th>User</th>
									<th>Date</th>
									<th>Activity</th>
									<th>Module</th>
									<th>Status</th>
								</tr>
								<tr>
									<td>Basic</td>
									<td>16/06/2017 10:00 AM</td>
									<td>Logout</td>
									<td>Secure Folders</td>
									<td><i class="fa fa-check"></i></td>
								</tr>
								<tr>
									<td>Basic.pdf</td>
									<td>16/06/2017 10:00 AM</td>
									<td>Disconnect</td>
									<td>SFTP</td>
									<td><i class="fa fa-check"></i></td>
								</tr>
								<tr>
									<td>Basic.xls</td>
									<td>16/06/2017 10:00 AM</td>
									<td>Share Invitation</td>
									<td>Go Drive</td>
									<td><i class="fa fa-check"></i></td>
								</tr>
								<tr>
									<td>Basic.txt</td>
									<td>16/06/2017 10:00 AM</td>
									<td>upload</td>
									<td>Go Drive</td>
									<td><i class="fa fa-check"></i></td>
								</tr>
								<tr>
									<td>Basic.doc</td>
									<td>16/06/2017 10:00 AM</td>
									<td>upload</td>
									<td>Go Drive</td>
									<td><i class="fa fa-check"></i></td>
                </tr>
                	<tr>
									<td>Basic.doc</td>
									<td>16/06/2017 10:00 AM</td>
									<td>upload</td>
									<td>Go Drive</td>
									<td><i class="fa fa-check"></i></td>
                </tr>
                	<tr>
									<td>Basic.doc</td>
									<td>16/06/2017 10:00 AM</td>
									<td>upload</td>
									<td>Go Drive</td>
									<td><i class="fa fa-check"></i></td>
                </tr>
                	<tr>
									<td>Basic.doc</td>
									<td>16/06/2017 10:00 AM</td>
									<td>upload</td>
									<td>Go Drive</td>
									<td><i class="fa fa-check"></i></td>
								</tr>
              </table>
              <br>
							<p class="pull-right">View All</p>
						</div>
		</md-card-content>
  </md-card>
</div>
