.sidebar{
    border:none !important;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    background: #fff !important;
}
.content {
    /* position: relative; */
    height: 100%;
    padding: 60px 0 30px 0;
    margin: 0 auto 0 auto;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
.block {
      display: block !important;
      overflow: hidden !important;
      -webkit-transition: height .5s;
      transition: height .5s;
      margin:0px !important;
    }
    .active{
         font-weight:bold;
        color: #3f51b5 !important;
    }
    .display-block{
        background: #3f51b5;
        height: 115px;
       padding-top: 25px;
    }
       .display-block div{
         display: flex;
        align-items: center;
        justify-content: center;
    }
    .display-block button {
     background-color: #fafafa !important;
    }
    .display-block  button span{
    font-size: 1.35em;
    color: rgb(0, 112, 163);
    background-color: rgb(255, 255, 255);
}
     .display-block button:hover{
          background-color: #fafafa !important; 
     }
    .display-block p{
        color: rgb(255, 255, 255);
    margin: 0.25em 0px 0px;
    text-align:center;
    }
@media (min-width: 1330px) {

    .main{
      width: calc(100% - 200px);
      margin-left: 200px;
    }
}
@media (min-width: 310px){
nav.sidebar {
    width: 270px;
    height: 100%;
    float: left;
    margin-bottom: 0px;
    position:fixed;
}
}
@media (min-width: 310px){

nav.sidebar li {
    width: 100%;
}
}
@media (min-width: 310px){
nav.sidebar .navbar-nav > li:first-child {
    border-top: 1px #e5e5e5 solid;
}
@media (min-width: 310px){
nav.sidebar .navbar-nav > li {
    border-bottom: 1px #e5e5e5 solid;
}
}
@media (min-width: 310px){
nav.sidebar li {
    width: 100%;
}
.navbar-nav {
   /* margin: 7.5px 0px;*/
}
}
.responsive-content{
    margin-left:280px;
    margin-top:20px;
}

@media (max-width: 768px){
.responsive-content{
   margin-left:0px;
}
.navbar-nav {
    margin: 7.5px 0px;
}
}
nav.sidebar, .main {
    -webkit-transition: margin 200ms ease-out;
    -moz-transition: margin 200ms ease-out;
    -o-transition: margin 200ms ease-out;
    transition: margin 200ms ease-out;
}
    nav.sidebar{
      margin-left: 0px;
      float: left;
    }

    nav.sidebar .forAnimate{
      opacity: 1;
    }
  }
.navbar-collapse {
    border-color: #e7e7e7;
    padding: 0px;
}
  nav.sidebar .navbar-nav .open .dropdown-menu>li>a:hover, nav.sidebar .navbar-nav .open .dropdown-menu>li>a:focus {
    color: #3f51b5;
    font-weight:bold;
  }
.side-ul{
  width:100%;
}
  nav:hover .forAnimate{
    opacity: 1;
  }
  section{
    padding-left: 15px;
  }
  navbar-default .navbar-nav>.active>a{
     color: #3f51b5;
    font-weight:bold;
          padding: 0px;
      }
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
    color: #3f51b5;
    font-weight:bold;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover{
	    color: #3f51b5;
    font-weight:bold;
}
@media only screen and (max-width: 768px) {
    .navigation {
        display: none;
        &.activeMenu {
            display: block;
            position: fixed;
            z-index: 10;
            top: 50px;
            bottom: 0;
            left: 0;
            padding: 0;
            max-width: 250px;
            width:200px;
            background-color: #fafafa;
            box-shadow: 6px 0 6px rgba(0, 0, 0, 0.1);
            // height: calc(100vh - 195px);
            transition: transform .4s cubic-bezier(.25, .8, .25, 1);
        }
    }
}
.docs-primary-header {
  height: 70px;
  padding-left: 290px;
  background:#3f51b5; 
}

.docs-primary-header  span{
    font-size: 25px;
    padding: 10px 10px 10px 10px;
    line-height: 65px;
    color: rgba(255, 255, 255, 0.87);
}
 