<!-- <div class="file-side">
		<aside>
		
<tree-view (onNodeSelected)="selectedNode($event)" (onIconSelected)="selectedIcon($event)" (onAdd)="addcatalog($event)" [nodes]="sampleNodes"></tree-view>
</aside>
</div> -->

<!-- <div class="file-side  col-md-2" *ngFor="let document of documents">
			<div class="col-md-12 file-div z-depth-1">
			<div (click)="downloadthumbnail(document)" class="text-center"><img width="50" height="50" src="assets/icon/{{document.filetype}}.png" onerror="this.src='assets/icon/file.png'">
			</div>
			<h5 class="text-center file-name">
				{{document.name}}
			</h5>
			<h5 class="text-center file-name">
			 <button class="btn btn-sm btn-color">Download</button>
			</h5>
		</div>
		</div> -->

<div class="col-md-12">
	<br>
	<div class="table-responsive">
		<table class="table">
			<thead>
				<tr>
					<th>Files</th>
					<th></th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let document of documents">
					<td>
						<div (click)="downloadthumbnail(document)" class="pull-left"><img width="50" height="50" src="assets/icon/{{document.filetype}}.png" onerror="this.src='assets/icon/file.png'">							&nbsp;&nbsp;
							<h5 class=" pull-right file-name">
								{{document.name}}
							</h5>
						</div>
					</td>
					<td style="position: relative;">
						<div dropdown><button class="btn btn-sm btn-infor" dropdownToggle><i class="fa fa-ellipsis-v" aria-hidden="true" ></i></button>
							<ul *dropdownMenu class="dropdown-menu" role="menu">
								<li role="menuitem"><a class="dropdown-item" (click)="update(document)">Update</a></li>
								<li role="menuitem" (click)="rename(document)"><a class="dropdown-item">Rename</a></li>

							</ul>
						</div>
					</td>
					<td> <button class="btn btn-sm btn-color" (click)="downloaddocument(document)">Download</button></td>

					<td><button class="btn btn-sm btn-danger" (click)="delete(document)">Delete</button></td>
				</tr>

			</tbody>
		</table>
	</div>
</div>


<div bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content" *ngIf="editfile">
			<div class="modal-header">
				<h4 class="modal-title pull-left">Update File</h4>
				<button type="button" class="close pull-right" (click)="lgModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
			</div>
			<div>
				<div class="modal-body">
					<div class="container-fluid">
						<div class="form-group ">


							<h5><label>File Name:</label> {{editfile.name}}</h5>

						</div>
						<div class="form-group ">
							<label>Change</label>

							<input class="form-control" type="file" required="" (change)="changeListener($event)">

						</div>

					</div>
				</div>
				<div class="modal-footer">
					<div class="col-xs-12">
						<button class="btn  text-uppercase btn-primary" (click)="updatefile()">Update</button>
						<!-- btn-info -->
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div bsModal #smModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-sm">
		<div class="modal-content" >
			<div class="modal-header">
				<h4 class="modal-title pull-left">Rename File</h4>
				<button type="button" class="close pull-right" aria-label="Close" (click)="smModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
			</div>
	<form>
			<div class="modal-body">
			  <div class="form-group ">
							<label>File Name</label>

							<input class="form-control" type="text" required="" [(ngModel)]="document.name" name="name">

						</div>
			</div>
			<div class="modal-footer">
				<div class="col-xs-12">
					<button class="btn  text-uppercase btn-primary" (click)="renamefilename()">Update</button>
					<!-- btn-info -->
				</div>
			</div>
		</form>	
		</div>
	</div>
</div>