<div class="container-fluid counts-divs">
	<div class="col-md-3 col-sm-6 animation-element slide-left">
		<md-card>
			<div class="tile-box tile-box-alt bg-blue">
				<div class="tile-header">Total Usage</div>
				<div class="tile-content-wrapper">
					<i class="fa fa-database icon-inbox"></i>
					<div class="tile-content">
						<i class="glyph-icon icon-caret-up font-red"></i> 18
					</div>
					<small class="elpsis">
								<i class="glyph-icon icon-caret-up"></i> +7,6% email list penetration</small>
				</div>
				<a href="#" title="" class="tile-footer">view details 
							<i class="fa fa-angle-right"></i>
						</a>
			</div>
		</md-card>
	</div>
	<div class="col-md-3 col-sm-6 animation-element slide-left">
		<md-card>
			<div class="tile-box tile-box-alt bg-green">
				<div class="tile-header">Active Users</div>
				<div class="tile-content-wrapper">
					<i class="fa fa-clipboard icon-inbox"></i>
					<div class="tile-content">
						<i class="glyph-icon icon-caret-up font-red"></i> 5
					</div>
					<small>
								<i class="glyph-icon icon-caret-up"></i> +7,6% email list penetration</small>
				</div>
				<a href="#" title="" class="tile-footer">view details 
							<i class="fa fa-angle-right"></i>
						</a>
			</div>
			</md-card>
	</div>
	<div class="col-md-3 col-sm-6 animation-element slide-left">
		<md-card>
			<div class="tile-box tile-box-alt bg-red">
				<div class="tile-header">Pending Users</div>
				<div class="tile-content-wrapper">
					<i class="fa fa-clock-o icon-inbox"></i>
					<div class="tile-content">
						<i class="glyph-icon icon-caret-up font-red"></i> 8
					</div>
					<small>
								<i class="glyph-icon icon-caret-up"></i> +7,6% email list penetration</small>
				</div>
				<a href="#" title="" class="tile-footer">view details 
							<i class="fa fa-angle-right"></i>
						</a>
			</div>
			</md-card>
	</div>
	<div class="col-md-3 col-sm-6 animation-element slide-left">
		<md-card>
			<div class="tile-box tile-box-alt bg-orange">
				<div class="tile-header">Reports</div>
				<div class="tile-content-wrapper">
					<i class="fa fa-clone icon-inbox"></i>
					<div class="tile-content">
						<i class="glyph-icon icon-caret-up font-red"></i> 185
					</div>
					<small>
								<i class="glyph-icon icon-caret-up"></i> +7,6% email list penetration</small>
				</div>
				<a href="#" title="" class="tile-footer">view details 
							<i class="fa fa-angle-right"></i>
						</a>
			</div>
			</md-card>
	</div>
	<p>&nbsp;</p>
</div>