<div class="container-fluid ">
<md-toolbar class="z-depth-1 top-toolbar">
 <button md-button class="add-button" (click)="add()" ><i class="fa fa-plus fa2x"></i></button>
</md-toolbar>
</div>
<div class="container-fluid">
    <md-card>
        <md-table #table>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
            <th>File Name</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let file of files">
            <td><img width="50" height="50" src="assets/icon/{{file.filetype}}.png" onerror="this.src='assets/icon/file.png'">&nbsp;{{file.name}}</td>
           
            <td></td>
              	<td style="position: relative;">
						<div dropdown><button class="btn btn-sm btn-infor" dropdownToggle><i class="fa fa-ellipsis-v" aria-hidden="true" ></i></button>
							<ul *dropdownMenu class="dropdown-menu" role="menu">
								<!-- <li role="menuitem"  (click)="update(file)"><a class="dropdown-item">Information</a></li> -->
                <li role="menuitem" (click)="rename(file)"><a class="dropdown-item">Rename</a></li>
                	<li role="menuitem" (click)="delete(file)"><a class="dropdown-item">Delete</a></li>
                 	<!-- <li role="menuitem" (click)="copy(file)"><a class="dropdown-item">Copy</a></li> -->
							</ul>
						</div>
				
            </td>
             
          </tr>
          
        </tbody>
      </table>
        </md-table>
    </md-card>
    </div>
 

<div bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">Add File</h4>
                <button type="button" class="close pull-right" (click)="lgModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <form  (ngSubmit)="filesubmit()" ngNativeValidate>
                <div class="modal-body">
                    <div class="container-fluid">
                        <!-- <div class="form-group" *ngIf="editfile">
                        <div class="col-xs-12">
                         <h4> <label>File Name</label>:{{editfile.name}}</h4>
                        </div>
                    </div> -->
                        <div class="form-group ">
                        <div class="col-xs-12">
                          <label> File Name</label>
                            <input class="form-control" type="file" required=""  name="name" (change)="changeListener($event)" >
                        </div>
                    </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="col-xs-12">
                        <button class="btn   btn-primary" type="submit">Save</button>
                        <!-- btn-info -->
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
  <div bsModal #smModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-sm">
		<div class="modal-content" *ngIf="editfile" >
			<div class="modal-header">
				<h4 class="modal-title pull-left">Rename File</h4>
				<button type="button" class="close pull-right" aria-label="Close" (click)="smModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
			</div>
	<form (ngSubmit)="renamefilename()" ngNativeValidate>
			<div class="modal-body">
			  <div class="form-group ">
							<label>File Name</label>

							<input class="form-control" type="text" required="" [(ngModel)]="editfile.name" name="name">

						</div>
			</div>
			<div class="modal-footer">
				<div class="col-xs-12">
					<button class="btn  text-uppercase btn-primary" type="submit" >Update</button>
					<!-- btn-info -->
				</div>
			</div>
		</form>	
		</div>
	</div>
</div>