<header class="mat-elevation-z6">
  <nav class="navbar navbar-fixed-top">
    <div class="col-md-12 ">
      <div class=" navbar-header float-left  col-xs-6">
        <button type="button" id="toggleMenu" class="toggle_menu" (click)="toggleMenu()">
      <i class="fa fa-bars"></i>
    </button>
        <a class="navbar-brand" href="#">SFTP</a>

      </div>

      <div class="top-profile pull-right col-xs-6">
        <li class=" pull-right text-right " dropdown>
          <a dropdownToggle class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false"><span class="fa fa-user profile"></span></a>
          <ul *dropdownMenu class="dropdown-menu" role="menu">
            <div class="gb_mb"></div>
            <div class="gb_lb"></div>
            <li role="menuitem"><a class="dropdown-item" href="#">Profile</a></li>
            <li role="menuitem"><a class="dropdown-item" href="#">Logout</a></li>


          </ul>
        </li>
    

      </div>
    </div>
  </nav>
</header>