header {
    width: 100%;
    background: #3f51b5;
    position: fixed;
    top: 0;
    height: 60px !important;
    z-index: 1000;
    color: hsla(0,0%,100%,.87);
}
    .mat-elevation-z6 {
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
}
.top-profile li{
	list-style-type:none;
}
.navbar-brand{
  color: hsla(0,0%,100%,.87);
}
.stylish-input-group button {
    border: 0;
    background: transparent;
}
.download {
    color: #fff;
    font-size: 20px;
    line-height: 55px;
    cursor: pointer;
    margin-right: 15px;
}
.profile {
    background: #fff;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50px;
    margin: 6px 0;
}
.fa-user {
    font-size: 25px;
    cursor: pointer;
}
.toggle_menu {
    display: none;
}
.gb_lb {
    border-color: transparent;
    border-bottom-color: #fff;
    border-style: dashed dashed solid;
    border-width: 0 8.5px 8.5px;
    display: block;
    position: absolute;
    left: 130px;
    top: -7px;
    z-index: 1;
    height: 0;
    width: 0;
    -webkit-animation: gb__a .2s;
    animation: gb__a .2s;
}
.gb_mb {
    border-color: transparent;
    border-style: dashed dashed solid;
    border-width: 0 8.5px 8.5px;
    display: block;
    position: absolute;
    left: 130px;
    z-index: 1;
    height: 0;
    width: 0;
    -webkit-animation: gb__a .2s;
    animation: gb__a .2s;
    border-bottom-color: #ccc;
    border-bottom-color: rgba(0,0,0,.2);
    top: -8px;
}
@media only screen and (max-width: 768px){
 .toggle_menu {
    outline: none;
    display: block;
    float: left;
    margin-right: 10px;
    padding: 0;
    background: 0 0;
    border: 0;
    text-align: center;
    cursor: pointer;
    color: white;
    font-size: 22px;
    margin-top:10px;
}
}